<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Complete Pokedex</title>
        <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
        <div id="root">
            <h1>Search a Pokemon</h1>
            <form>
              <input type="text" v-model="input">
              <button v-on:click.prevent="fetchREST">Search</button>
            </form>
            <h2 id="msg"></h2>
            <p id="name">Name: {{ pokemon }}</p>
            <img v-bind:src="sprite">
            <img v-bind:src="sprite_shiny">
            
            <br>
            
            <p id="id">Id: {{ id }}</p>
            <p id="weight">Weight: {{ weight }}</p>
            <p id="types">Type(s): </p>
            <ul>
              <li v-for="type in types">
                {{ type.name }}
              </li>
            </ul>
            <p id="moves">Moves: </p>
            <ul>
              <li v-for="move in moves">
                {{ move.name }}
              </li>
            </ul>
            <p id="abilities">Possible Abilities: </p>
            <ul>
              <li v-for="ability in abilities">
                {{ ability.name }}
              </li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
    
    <pb>
      
  <footer class="footer">
    <p><a href="https://github.com/Mimikyu778/CreativeProject3">GitHub Link</a></p>
  </footer>
</html>