body {
    background-image: url("pokeball.jpg");
    width: 100%;
    background-position: center;
    background-repeat: repeat-y;
    font-family: 'Nanum Pen Script', cursive;
    color: #2A4B7C;
    font-size: 20px;
}
p {
    font-size: 20px;   
}
.footer {
    justify-content: center;
    display: flex;
    padding: 5px;
    background-color: #2A4B7C;
    margin-top: 150px;
}